<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
</head>
<body>
    <h1 style="text-align: center; padding-top: 50px; font-weight: bold;">Create an account</h1>
    <div style="text-align: center;">
        <form action="distributor" method="post">
            <input type="submit" name="distributor" value="Distributor"/>
        </form>
        <form action="consumer" method="post">
            <input type="submit" name="consumer" value="Consumer"/>
        </form>
    </div>
</body>
</html>